# Local environment
nginx_bin/
nginx_bin
generated_configs/
generated_configs
data.db
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.env

# Git
.git/
.gitignore

# Temp/Debug
debug_nginx_install.py
